@font-face 
  font-family: 'eleme-icon'
  src:  url('./common/fonts/eleme-icon.eot?n3r5du')
  src:  url('./common/fonts/eleme-icon.eot?n3r5du#iefix') format('embedded-opentype'),
    url('./common/fonts/eleme-icon.ttf?n3r5du') format('truetype'),
    url('./common/fonts/eleme-icon.woff?n3r5du') format('woff'),
    url('./common/fonts/eleme-icon.svg?n3r5du#eleme-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon_"], [class*=" icon_"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eleme-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon_add_circle:before 
  content: "\e900"

.icon_arrow_lift:before 
  content: "\e901"

.icon_check_circle:before 
  content: "\e902"

.icon_close:before 
  content: "\e903"

.icon_favorite:before 
  content: "\e904"

.icon_keyboard_arrow_right:before 
  content: "\e905"

.icon_remove_circle_outline:before 
  content: "\e906"

.icon_shopping_cart:before 
  content: "\e907"

.icon_thumb_down:before 
  content: "\e908"

.icon_thumb_up:before 
  content: "\e909"

